<%= question_header(@question)%>
<%= render 'shared/errors', resource: @question %>
<%= form_for @question, url: {action: action} do |form| %>
<%= render 'shared/errors', resource: @question %>

<p>
  <%= form.label :body %><br>
  <%= form.text_field :body %>
</p>
  <p><%= form.submit %></p>
<% end %>
