<tr>
  <td><%= badge.title %></td>
  <td><%= badge.rule %></td>
  <td><%= badge.primary_param %></td>
  <td><%= badge.secondary_param.presence %></td>
  <td>
    <%= link_to (octicon 'eye', class: 'text-secondary'), admin_badge_path(badge)%>
    <%= link_to (octicon 'pencil', class: 'text-secondary'), edit_admin_badge_path(badge) %>
    <%= link_to (octicon 'trashcan', class: 'text-danger'),
                    admin_badge_path(badge),
                    method: :delete,
                    data: { confirm: 'Are you sure?'} %>
  </td>
</tr>
