<div class="nav">
  <span class="brand"><%= link_to 'TestGuru', root_path%></span>
  <div class="right">
    <% if user_signed_in?%>
      <%= t('.hello', user: current_user.email) %>
      <%= link_to t('.admin'), admin_tests_path if current_user.is_a?(Admin) %> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to t('.login'), new_user_session_path%>
    <%= link_to t('.signup'), new_user_registration_path%>
    <% end %>
  </div>
  <%= render 'shared/flash'%>
</div>
