<h2><%= t('.header', title: @question.test.title) %></h2>

<h3>
  <%= t('.body') %> <%= @question.body %>
</h3>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<h4><%= t('.all_answers') %></h4>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>
